:root {
  --font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: clamp(1em, 2vw, 1.5em);
  --color-back1: #dcffe6;
  --color-back2: #fff;
  --color-back3: #aacab3;
  --color-fore1: #333;
  --color-link1: #003d10;
  --color-wrong1: #9c0004;
  --color-wrong2: #ff0006;
  --color-right1: #00ba32;
  --color-right2: #00ff45;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-weight: 400;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

body, input, textarea, button, table {
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--color-fore1);
  background-color: var(--color-back1);
}

header {
  padding: 0.2em 1em;
  color: var(--color-back2);
  background-color: var(--color-right1);
}

main {
  padding: 1em;
}

main > :first-child {
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1em;
}

p {
  margin-top: 1em;
}

a:link, a:visited {
  color: var(--color-link1);
}

input[type=number] {
  font-size: var(--font-size);
  width: 5em;
  font-weight: 600;
  text-align: center;
  padding: 0.3em 0.3em 0.3em 1em;
  background-color: var(--color-back2);
  border: 3px solid var(--color-right1);
  border-radius: 3px;
  outline: 0 none;
}

input[type=number]:invalid {
  border-color: var(--color-wrong1)
}

button {
  display: block;
  font-weight: 600;
  padding: 0.3em 1em;
  margin: 1em auto 0 auto;
  background-color: var(--color-back3);
  border: 3px solid var(--color-fore1);
  border-radius: 3px;
}

button:hover, button:focus {
  background-color: var(--color-right2);
}

.formgrid {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-gap: 0.5em;
  margin: 1em auto;
}

.formgrid label {
  text-align: right;
}
